<div class="wrap">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Isabela Moraes de Souza</mat-card-title>
      <mat-card-subtitle>25 anos</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="agressor" src="https://i.imgur.com/WRXNCSw.jpg" alt="Photo of a Meliante">
    <mat-card-content>
      <p>
          Isabela Moraes de Souza, 25 anos, está solicitando auxílio imediato contra Maurício Soares Dutra, 33 anos. O indivíduo infligiu a medida protetiva de urgência. Encaminhar viatura imediatamente para o endereço. Alto risco de feminicídio.
      </p>
    </mat-card-content>
    
  <button mat-flat-button mat-button (click)="openSnackBar()" color="warn" id="botao">SOLICITAR VIATURA AO LOCAL</button> 
    
  </mat-card>

  <mat-card class="map-card">
      <mat-card-header>
          <div mat-card-avatar class="example-map-image"></div>
        <mat-card-title>Rua José Maria dos Santos, 208</mat-card-title>
        <mat-card-subtitle>Luzia</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="mapa" src="https://i.imgur.com/6zvVWW8.png" alt="Photo of a Meliante">
      <mat-card-content>
      </mat-card-content>
    </mat-card>
</div>