.mat-table{
    width: 100%;
    
}

.mat-elevation-z8{
    max-height: 100vh;
    margin-bottom: -50px;
    
}

.mat-paginator, .mat-header-row{
    background-color: #f44336; 
}

.banco{
    margin: 0px 0px 10px 0px;
}
a{
    text-decoration: none;
}