nav {
    background: #2D2E2E;
    height: 100%;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {

            a {
                color: #fff;
                padding: 20px;
                display: block;
                text-decoration: none;
            }

            .activated {
                background-color: #ff0055 !important;
            }
        }
    }
    
}
.menu{
    font-size: 14px;
    margin-left: -8px;
}