<div class="wrap">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Julieta da Silva Romeu</mat-card-title>
          <mat-card-subtitle>22 anos</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="vitima" src="https://i.imgur.com/kK9feeJ.jpg" alt="Photo of a Meliante">

        <mat-list>
            <td> <mat-list-item> <strong>ID:</strong></mat-list-item></td>
            <td> <span>24</span> </td>
            <mat-divider></mat-divider>
            <td> <mat-list-item><strong>Cadastrada desde:</strong></mat-list-item> </td>
            <td> <span>28/09/2017</span> </td>
            <mat-divider></mat-divider>
            <td> <mat-list-item><strong>CPF:</strong></mat-list-item> </td>
            <td> <span>840.582.285-39</span> </td>
            <mat-divider></mat-divider>
            <td> <mat-list-item class="gambiarra"><strong>Endereço:</strong></mat-list-item> </td>
            <td> <span>	Avenida José Maria das Dores, 302</span> </td>
          </mat-list>
        
      </mat-card>
    
      <mat-card class="agressor-card">
          <mat-card-header>
              <div mat-card-avatar class="example-agressor-image"></div>
            <mat-card-title>Ricardo Santos Bittencourt</mat-card-title>
            <mat-card-subtitle>27 anos</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image class="agressor" src="https://i.imgur.com/1vyvxnm.jpg" alt="Photo of a Meliante">
          <mat-card-content>
          </mat-card-content>
        </mat-card>
    </div>

    